<h1>WishList - All Items</h1>

  <div class='items'>
  <% @items.each_with_index.map do |item, index| %>
    <div class="item" id="item-<%= index + 1 %>">
      <header class="item_header" id="item-header-<%= index + 1 %>">
        <ul class="item_title" id="item-title-<%= index + 1 %>">
          <li class='name'><strong><%= item.name %></strong></li>
          <li class='rating'>Rating: <%= item.rating %></li>
          <li class='price'>Price: <%= item.price %></li>
        </ul>
      </header>
      <div class="item_body" id="item-body-<%= index + 1 %>">
        <%= image_tag(item.image_url, class: 'item_image') %>
        <p>Vendor: <%= link_to item.vendor, item.url, class: "vendor_link" %></p>
        <p class='description'><%= truncate(strip_tags(item.description), length: 300) %></p>
        <p class='notes'>Notes: <em><%= truncate(strip_tags(item.notes), length: 200) %></em></p>
      </div>
      <div class="control_links">
        <%= link_to 'Purchased', '#' %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
  </div>

<br />

<%= link_to 'New Item', new_item_path %>
