<h1>WishList - All Items</h1>
<div class='items'>
<% @items.each_with_index.map do |item, index| %>
    <div class="item" id="item-<%= index + 1 %>">
        <div id="item-title-bar-<%= index + 1 %>" class="item_title_bar">
            <header id="item-header-<%= index + 1 %>" class="item_header">
                <h1><%= link_to item.name, item.url, class: "item_link" %></h1><span class="item_rating">(Rating: <%= item.rating %>)</span>
                <div id="item-price-<%= index + 1 %>" class="item_price">Price: <%= number_to_currency(item.price) %></div>
            </header>
        </div>
        <div id="item-body-<%= index + 1 %>" class="item_body">
            <%= image_tag(item.image_url, class: 'item_image') %>
            <p class='item_description'><%= truncate(strip_tags(item.description), length: 500) %></p>
            <blockquote class='item_notes'>Grayson Says: "<%= truncate(strip_tags(item.notes), length: 250) %>"</blockquote>
        </div>
        <div class="control_links">
            <%= link_to 'Purchased', '#' %>
            <%= link_to 'Edit', edit_item_path(item) %>
            <%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
<% end %>
</div>
<br />
<%= link_to 'New Item', new_item_path %> 
